In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# BTC-USD vs News Search

In [ ]:
btcNewsSearch = pd.read_csv('bitcoin_NewsSearch.csv')
btcPrice = pd.read_csv('price_data/BTC-USD.csv')

In [ ]:
btcNewsSearch.columns=['Date', 'btc_news_search_trend']
btcNewsSearch.head()

In [ ]:
btcNewsSearch.shape

In [ ]:
print(btcNewsSearch.Date.max(), btcNewsSearch.Date.min())

In [ ]:
btcPrice.head()

In [ ]:
btcPrice.shape

In [ ]:
analysis_df = btcPrice.merge(btcNewsSearch, on='Date')

In [ ]:
analysis_df.head()

In [ ]:
analysis_df.shape

In [ ]:
print(btcNewsSearch.Date.max(), btcNewsSearch.Date.min())
print(btcPrice.Date.max(), btcPrice.Date.min())
print(analysis_df.Date.max(), analysis_df.Date.min())

In [ ]:
analysis_df = analysis_df.set_index('Date')

In [ ]:
analysis_df.head()

In [ ]:
sns.pairplot(analysis_df)

In [ ]:
from sklearn.metrics import confusion_matrix

# BIG Dataset (BTC vs USD vs Gold vs OIL vs Tweest Setiment)

In [27]:
btc_usd_df = pd.read_csv('price_data/features_data_v2.csv').drop(columns=['Unnamed: 0'])
gold_df = pd.read_csv('price_data/cleanoil.csv').drop(columns=['Unnamed: 0'])
oil_df = pd.read_csv('price_data/cleangold.csv').drop(columns=['Unnamed: 0'])
tweets_sentiment = pd.read_csv('news_data/2019_btc_tweets_sentiment.csv').drop(columns=['Unnamed: 0'])
#btcNewsSearch = pd.read_csv('bitcoin_NewsSearch.csv')

In [28]:
btc_usd_df.columns

Index(['btc_Open', 'btc_High', 'btc_Low', 'btc_Close', 'btc_Adj Close',
       'btc_Volume', 'usd_Open', 'usd_High', 'usd_Low', 'usd_Close',
       'usd_Adj Close', 'usd_Volume', 'beginning_of_month', 'btc_trend',
       'Date'],
      dtype='object')

In [29]:
btc_usd_df.head()

,btc_Open,btc_High,btc_Low,btc_Close,btc_Adj Close,btc_Volume,usd_Open,usd_High,usd_Low,usd_Close,usd_Adj Close,usd_Volume,beginning_of_month,btc_trend,Date
0,387.427002,391.378998,380.779999,383.614990,383.614990,26229400,85.910004,86.180000,85.779999,85.970001,85.970001,0.0,2014-10-01,3,2014-10-01
1,383.988007,385.497009,372.946014,375.071991,375.071991,21777700,85.860001,85.900002,85.449997,85.599998,85.599998,0.0,2014-10-01,3,2014-10-02
2,375.181000,377.695007,357.859009,359.511993,359.511993,30901200,85.629997,86.750000,85.629997,86.690002,86.690002,0.0,2014-10-01,3,2014-10-03
3,328.915985,341.800995,289.295990,320.510010,320.510010,83308096,85.629997,86.750000,85.629997,86.690002,86.690002,0.0,2014-10-01,3,2014-10-05
4,320.389008,345.134003,302.559998,330.079010,330.079010,79011800,86.639999,86.680000,85.639999,85.709999,85.709999,0.0,2014-10-01,3,2014-10-06

In [30]:
print(btc_usd_df.Date.min(), btc_usd_df.Date.max())

2014-10-01 2020-11-17

In [31]:
gold_df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2014-12-02  69.239998  69.320000  66.669998  66.879997  66.879997  360300.0
1  2014-12-03  67.599998  68.230003  66.800003  67.379997  67.379997  293483.0
2  2014-12-04  67.400002  68.220001  66.089996  66.809998  66.809998  237011.0
3  2014-12-05  66.800003  66.889999  65.169998  65.839996  65.839996  276529.0
4  2014-12-06  66.800003  66.889999  65.169998  65.839996  65.839996  276529.0

In [32]:
gold_df.columns = gold_df.columns.map(lambda x: str(x)+ '_gold')
print(gold_df.Date_gold.min(), gold_df.Date_gold.max())

2014-12-02 2020-05-13

In [33]:
gold_df.columns

Index(['Date_gold', 'Open_gold', 'High_gold', 'Low_gold', 'Close_gold',
       'Adj Close_gold', 'Volume_gold'],
      dtype='object')

In [34]:
oil_df.head()

         Date   Price    Open    High     Low    Chg%
0  2014-09-19  1373.1  1218.3  1218.3  1218.3 -0.0074
1  2014-09-20  1373.1  1218.3  1218.3  1218.3 -0.0074
2  2014-09-21  1373.1  1218.3  1218.3  1218.3 -0.0074
3  2014-09-22  1374.2  1214.9  1214.9  1212.4  0.0008
4  2014-09-23  1377.2  1221.0  1221.0  1221.0  0.0022

In [35]:
oil_df.columns = oil_df.columns.map(lambda x: str(x)+ '_oil')
print(oil_df.Date_oil.min(), oil_df.Date_oil.max())

2014-09-19 2020-09-10

In [36]:
oil_df.columns

Index(['Date_oil', 'Price_oil', 'Open_oil', 'High_oil', 'Low_oil', 'Chg%_oil'], dtype='object')

In [37]:
tweets_sentiment.head()

,replies,likes,retweets,text,Date,lang,sentiment
0,1,50,195,followrt vipstarcoin vips vips bitcoin xrp fau...,2019-01-01,en,0.0
1,0,0,0,top cryptocurrencies alert time bitcoin xrp et...,2019-01-01,en,0.5
2,0,4,0,send btc,2019-01-01,en,0.0
3,9,56,36,bcpeth trading pair available etherflyer utc b...,2019-01-02,en,0.4
4,0,0,0,top cryptocurrencies alert time bitcoin ethere...,2019-01-02,en,0.5

In [38]:
tweets_sentiment = tweets_sentiment.groupby(by=['Date']).mean()

In [39]:
tweets_sentiment.head()

              replies  likes   retweets  sentiment
Date
2019-01-01   0.333333   18.0  65.000000   0.166667
2019-01-02   4.500000   28.0  18.000000   0.450000
2019-01-04   1.500000   38.5  44.000000   0.450000
2019-01-05   0.333333   15.0   5.333333   0.344444
2019-01-08  18.333333   13.0  28.000000   0.250000

In [ ]:
tweets_sentiment.columns = tweets_sentiment.columns.map(lambda x: str(x)+ '_tweet')

In [43]:
all_features = pd.merge(btc_usd_df,gold_df, left_on='Date',right_on = 'Date_gold')
#.merge(oil_df, on='Date', suffixes=(False,''))

In [44]:
all_features.columns

Index(['btc_Open', 'btc_High', 'btc_Low', 'btc_Close', 'btc_Adj Close',
       'btc_Volume', 'usd_Open', 'usd_High', 'usd_Low', 'usd_Close',
       'usd_Adj Close', 'usd_Volume', 'beginning_of_month', 'btc_trend',
       'Date', 'Date_gold', 'Open_gold', 'High_gold', 'Low_gold', 'Close_gold',
       'Adj Close_gold', 'Volume_gold'],
      dtype='object')

In [45]:
all_features.head()

,btc_Open,btc_High,btc_Low,btc_Close,btc_Adj Close,btc_Volume,usd_Open,usd_High,usd_Low,usd_Close,...,beginning_of_month,btc_trend,Date,Date_gold,Open_gold,High_gold,Low_gold,Close_gold,Adj Close_gold,Volume_gold
0,379.250000,384.037994,377.863007,381.315002,381.315002,12364100,87.980003,88.669998,87.949997,88.650002,...,2014-12-01,3,2014-12-02,2014-12-02,69.239998,69.320000,66.669998,66.879997,66.879997,360300.0
1,381.721985,383.026001,374.346008,375.010010,375.010010,13340100,88.599998,89.010002,88.580002,88.959999,...,2014-12-01,3,2014-12-03,2014-12-03,67.599998,68.230003,66.800003,67.379997,67.379997,293483.0
2,375.717987,378.654999,367.759003,369.604004,369.604004,14529600,88.940002,89.120003,88.209999,88.699997,...,2014-12-01,3,2014-12-04,2014-12-04,67.400002,68.220001,66.089996,66.809998,66.809998,237011.0
3,369.441986,379.191986,365.756012,376.854004,376.854004,15181800,88.580002,89.470001,88.580002,89.330002,...,2014-12-01,3,2014-12-05,2014-12-05,66.800003,66.889999,65.169998,65.839996,65.839996,276529.0
4,374.835999,376.291992,373.274994,375.095001,375.095001,6491650,88.580002,89.470001,88.580002,89.330002,...,2014-12-01,3,2014-12-07,2014-12-07,66.800003,66.889999,65.169998,65.839996,65.839996,276529.0

In [46]:
all_features.drop(columns=['Date_gold'], inplace=True)

In [50]:
all_features = pd.merge(all_features,oil_df, left_on='Date',right_on = 'Date_oil').merge(tweets_sentiment, on='Date')

In [51]:
all_features.head()

,btc_Open,btc_High,btc_Low,btc_Close,btc_Adj Close,btc_Volume,usd_Open,usd_High,usd_Low,usd_Close,...,Date_oil,Price_oil,Open_oil,High_oil,Low_oil,Chg%_oil,replies_tweet,likes_tweet,retweets_tweet,sentiment_tweet
0,3849.216309,3947.981201,3817.409424,3943.409424,3943.409424,5244856835,96.139999,96.959999,95.820000,96.820000,...,2019-01-02,1349.5,1349.5,1349.5,1349.5,0.0515,4.500000,28.0,18.0,0.450000
1,3832.040039,3865.934570,3783.853760,3857.717529,3857.717529,4847965467,96.279999,96.610001,96.050003,96.190002,...,2019-01-04,1351.0,1351.8,1351.8,1351.8,-0.0065,1.500000,38.5,44.0,0.450000
2,4028.472168,4109.020996,3996.955322,4030.847900,4030.847900,5306593305,95.690002,96.029999,95.680000,95.900002,...,2019-01-08,1351.1,1351.1,1351.1,1351.1,-0.0030,18.333333,13.0,28.0,0.250000
3,4031.552002,4068.403564,4022.662842,4035.296387,4035.296387,5115905224,95.809998,95.919998,95.120003,95.220001,...,2019-01-09,1357.3,1357.3,1357.3,1357.3,0.0046,0.500000,21.0,3.5,0.053333
4,4034.411377,4064.066650,3659.174561,3678.924561,3678.924561,6874143795,95.160004,95.620003,95.029999,95.540001,...,2019-01-10,1353.0,1353.0,1353.0,1353.0,-0.0032,0.000000,0.0,0.0,0.500000

In [52]:
all_features.columns

Index(['btc_Open', 'btc_High', 'btc_Low', 'btc_Close', 'btc_Adj Close',
       'btc_Volume', 'usd_Open', 'usd_High', 'usd_Low', 'usd_Close',
       'usd_Adj Close', 'usd_Volume', 'beginning_of_month', 'btc_trend',
       'Date', 'Open_gold', 'High_gold', 'Low_gold', 'Close_gold',
       'Adj Close_gold', 'Volume_gold', 'Date_oil', 'Price_oil', 'Open_oil',
       'High_oil', 'Low_oil', 'Chg%_oil', 'replies_tweet', 'likes_tweet',
       'retweets_tweet', 'sentiment_tweet'],
      dtype='object')

In [53]:
all_features.drop(columns=['btc_Open', 'btc_Adj Close', 'usd_Open', 'usd_High', 'usd_Low', 'usd_Adj Close', 'usd_Volume',  'beginning_of_month', 'btc_trend', 'Open_gold', 'High_gold', 'Low_gold', 'Adj Close_gold', 'Date_oil', 'Open_oil', 'High_oil', 'Low_oil'], inplace=True)

In [55]:
all_features.head()

,btc_High,btc_Low,btc_Close,btc_Volume,usd_Close,Date,Close_gold,Volume_gold,Price_oil,Chg%_oil,replies_tweet,likes_tweet,retweets_tweet,sentiment_tweet
0,3947.981201,3817.409424,3943.409424,5244856835,96.820000,2019-01-02,46.540001,850480.0,1349.5,0.0515,4.500000,28.0,18.0,0.450000
1,3865.934570,3783.853760,3857.717529,4847965467,96.190002,2019-01-04,47.959999,817277.0,1351.0,-0.0065,1.500000,38.5,44.0,0.450000
2,4109.020996,3996.955322,4030.847900,5306593305,95.900002,2019-01-08,49.779999,765981.0,1351.1,-0.0030,18.333333,13.0,28.0,0.250000
3,4068.403564,4022.662842,4035.296387,5115905224,95.220001,2019-01-09,52.360001,891922.0,1357.3,0.0046,0.500000,21.0,3.5,0.053333
4,4064.066650,3659.174561,3678.924561,6874143795,95.540001,2019-01-10,52.590000,821782.0,1353.0,-0.0032,0.000000,0.0,0.0,0.500000

In [58]:
all_features = all_features.set_index('Date')
all_features.head()

,btc_High,btc_Low,btc_Close,btc_Volume,usd_Close,Close_gold,Volume_gold,Price_oil,Chg%_oil,replies_tweet,likes_tweet,retweets_tweet,sentiment_tweet
Date,,,,,,,,,,,,,
2019-01-02,3947.981201,3817.409424,3943.409424,5244856835,96.820000,46.540001,850480.0,1349.5,0.0515,4.500000,28.0,18.0,0.450000
2019-01-04,3865.934570,3783.853760,3857.717529,4847965467,96.190002,47.959999,817277.0,1351.0,-0.0065,1.500000,38.5,44.0,0.450000
2019-01-08,4109.020996,3996.955322,4030.847900,5306593305,95.900002,49.779999,765981.0,1351.1,-0.0030,18.333333,13.0,28.0,0.250000
2019-01-09,4068.403564,4022.662842,4035.296387,5115905224,95.220001,52.360001,891922.0,1357.3,0.0046,0.500000,21.0,3.5,0.053333
2019-01-10,4064.066650,3659.174561,3678.924561,6874143795,95.540001,52.590000,821782.0,1353.0,-0.0032,0.000000,0.0,0.0,0.500000

In [61]:
print(all_features.index.min(), all_features.index.max())

2019-01-02 2019-05-26

In [62]:
all_features.to_csv('btc_usd_gold_oil_tweets.csv')

In [64]:
all_features.shape

(113, 13)